Package: null.leptos.simple
Name: Simple
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Leptos <leptos.0.null@gmail.com>
Author: Leptos <leptos.0.null@gmail.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
